body{
  /* background-image: url(https://www.tvsa.co.za/images/uploads/thumbs/0127052.jpeg); */
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 150vh;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;

}

.grid-container > div {

  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}

.card-img-top{
  background-color: rgb(115, 99, 99);
  border-radius: 1rem;
  height: 19rem;
}


.btn-primary{
  background-color: rgb(255, 179, 0);
  border-radius: 0rem;
  padding: 0.7rem;
  }
 
  code {
    font-family: 'Courier New', monospace;
    }
    

    